html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  background: #fafafa;
  font-family: Arial;
}

.index {
  padding-top: 1rem;
}
.index .imagem-login {
  padding: 0;
  text-align: right;
}
@media (max-width: 768px) {
  .index .imagem-login {
    display: none;
  }
}
@media (min-width: 769px) {
  .index .imagem-login {
    display: block;
  }
}
.index .login {
  position: relative;
}
.index .login .form-login, .index .login .form-cadastro {
  position: absolute;
  width: 350px;
  background: #FFF;
  border: #E3E3E3 solid 1px;
  padding: 2rem;
}
@media (max-width: 768px) {
  .index .login .form-login, .index .login .form-cadastro {
    margin: 3em auto;
    left: 50%;
    margin-left: -175px;
  }
}
@media (min-width: 769px) {
  .index .login .form-login, .index .login .form-cadastro {
    margin-top: 5em;
  }
}
.index .login .form-login input, .index .login .form-cadastro input {
  width: 100%;
  line-height: 1.2em;
  padding: 10px;
  margin: 7px 0;
  border: #E3E3E3 solid 1px;
  border-radius: 3px;
  background: #fafafa;
  font-size: 0.9em;
}
.index .login .form-login button, .index .login .form-cadastro button {
  width: 100%;
  padding: 7px;
  margin: 7px 0;
  border: none;
  border-radius: 3px;
  background: #3897f0;
  font-weight: bold;
}
.index .login .form-login button:active, .index .login .form-cadastro button:active {
  background: #67b0f4;
}
.index .login .form-login img, .index .login .form-cadastro img {
  display: block;
  margin: 0 auto;
}
.index .login .form-login a, .index .login .form-cadastro a {
  display: block;
  font-size: 0.8em;
  text-align: center;
  color: #3897f0;
  text-decoration: none;
}
.index .login .cadastro-conta, .index .login .login-conta {
  position: absolute;
  width: 350px;
  text-align: center;
  background: #FFF;
  border: #E3E3E3 solid 1px;
  padding: 2rem;
  font-size: 0.9em;
}
@media (max-width: 768px) {
  .index .login .cadastro-conta, .index .login .login-conta {
    left: 50%;
    margin-left: -175px;
  }
}
.index .login .cadastro-conta button, .index .login .login-conta button {
  color: #3897f0;
  background: none;
  border: none;
}
.index .login .form-cadastro {
  display: none;
}
@media (min-width: 769px) {
  .index .login .form-cadastro {
    margin: 2em 0;
  }
}
.index .login .form-cadastro h2 {
  color: #999;
  font-weight: 600;
  text-align: center;
  margin: 0 40px;
}
.index .login .login-conta {
  top: 26em;
}
@media (max-width: 768px) {
  .index .login .login-conta {
    margin-top: 1em;
  }
}
@media (min-width: 769px) {
  .index .login .login-conta {
    margin-top: 3em;
  }
}
.index .login .cadastro-conta {
  display: none;
  top: 33em;
}
@media (max-width: 768px) {
  .index .login .cadastro-conta {
    margin-top: 2em;
  }
}
@media (min-width: 769px) {
  .index .login .cadastro-conta {
    margin-top: 1em;
  }
}

.navbar {
  height: 80px;
}

.navbar-inverse {
  background: #FFF;
  border: #E3E3E3 solid 1px;
}
.navbar-inverse .navbar-brand {
  padding: 0 6em;
}
.navbar-inverse .incluir {
  padding: 1.5em 7em;
}

.container-timeline {
  width: 100%;
  display: none;
  height: auto;
  margin: 2em 0;
  background: #FFF;
  border: #E3E3E3 solid 1px;
  border-radius: 5px;
}
.container-timeline .user p {
  padding: 1.5em;
  color: #000;
  font-weight: 600;
}
.container-timeline .conteudo img {
  width: 100%;
  height: auto;
  margin: 0;
}
.container-timeline .texto {
  padding: 2em;
}

.postagem {
  display: none;
  margin: 2em 0;
  background: #FFF;
  border: #E3E3E3 solid 1px;
  border-radius: 5px;
  padding: 2em;
}
.postagem input {
  width: 100%;
  line-height: 1.2em;
  padding: 10px;
  margin: 7px 0;
  border: #E3E3E3 solid 1px;
  border-radius: 3px;
  background: #fafafa;
  font-size: 0.9em;
}
.postagem .botoes {
  text-align: center;
}
.postagem .botoes button {
  width: auto;
  padding: 10px;
  margin: 7px 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}
.postagem .botoes .btn-primario {
  background: #3897f0;
  color: #FFF;
}
.postagem .botoes .btn-secundario {
  background: #fafafa;
  color: #121212;
  border: #E3E3E3 solid 1px;
}
