<!DOCTYPE html>
<html lang="pt-br">
   
    <% include partials/head %>
    
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <img src="images/logo-home.png">
                </a>
            </div>
            <div class="incluir pull-right">
                <img src="images/incluir.png" data-toggle="tooltip" title="Publicar" alt="Incluir">
            </div>   
        </div>    
    </nav> 

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="container-timeline" style="display:none">
                    <div class="user">
                        <p>gabriell__augusto</p>
                    </div>
                    <div class="conteudo">
                        
                    </div>
                    <div class="texto">
                        <p>#explosãodesabor é só aqui!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
                <div class="col-lg-8 postagem" style="display: none">
                        <form action="" method="POST">
                       <input type="file" name="imagem_post">
                        <input type="text" name="texto_post" placeholder="Escreva uma legenda">
                        <div class="botoes">
                            <button id="publicar_post" class="btn-primario" type="submit">Publicar</button> 
                            <button id="cancelar" class="btn-secundario" type="button">Cancelar</button> 
                        </div>                       
                    </form>                    
                </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    
</body>
</html>