<!DOCTYPE html>
<html lang="pt-br">

<% include partials/head %>

<body>

    <div class="container">
        <div class="row index">
            <div class="col-lg-6 col-md-6 col-sm-6 imagem-login">
                <picture>
                    <figure>
                        <img src="images/login/mobiles.png" alt="">
                    </figure>
               </picture>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 login">
                <div class="form-login">
                        <picture>
                            <figure>
                                <img src="images/login/logo.png" alt="">
                            </figure>
                        </picture>
                        <form action="/login" method="POST">
                            <input type="text" name="username-login" placeholder="Nome de usuário" required>
                            <input type="password" name="password-login" placeholder="Senha" required>
                            <button type="submit" class="btn-primary" >Entrar</button>
                        </form>
                        <hr>
                        <a href="">Esqueceu a senha?</a>
                </div>         
                        
                <div class="login-conta">
                    <p>Não tem uma conta? <button id="link-cadastro" href="">Cadastre-se</button></p>
                </div> 

                <div class="form-cadastro">
                    <picture>
                        <figure>
                            <img src="images/login/logo.png" alt="">
                        </figure>
                    </picture>
                
                    <h2>Cadastre-se para ver fotos e vídeos dos seus amigos.</h2>
                
                    <hr>
                
                    <form action="/cadastro" method="POST">
                        <input type="email" name="email" placeholder="Email" required>
                       <input type="text" name="nome-completo" placeholder="Nome Completo" required>
                       <input type="text" name="username-cadastro" placeholder="Nome de usuário" required>
                       <input type="password" name="password-cadastro" placeholder="Senha" required>
                       <button type="submit" class="btn-primary" >Cadastre-se</button>
                       </form>
                </div>
                
                <div class="cadastro-conta">
                    <p>Tem uma conta? <button id="link-login" href="">Faça Login</button></p>
                </div>

            </div>
        </div>
    </div>

</body>
</html>